/* Write your CSS here! */
html {
    background:url('http://www.ultradrive.com/images/rdx_starfield.jpg');
}

header {
    font-family: 'Pathway Gothic One', sans-serif;
    padding: 1.875em 0;
    background-color: rgba(218, 211, 211, 0.067) ;
    text-align: center;
    text-shadow: 4px 4px 4px #0000;
    -webkit-text-stroke: .3px rgb(150, 146, 146);
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1em;
    color: blanchedalmond;
}

body {
    
    color:#E6CA3A;
    width: 100%;
	max-width: 1024px;
	margin: 8px;
    display: block;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.273);
    line-height: 1.2;

}


p{
    font-family:'Franklin Gothic Book',sans-serif;
    padding: 15px;
    font-size: 20px;
    text-align: justify; 
    margin: 10px; 
}

main {
    background-color: rgba(177, 173, 147, 0.268) ; 
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

img {
	width: 80%;
	max-width: 80%;
}

h2{
    -webkit-text-stroke: .3px rgb(150, 146, 146);
    text-indent: 25px !important; 
    font-size: 35px;
}

#mainHeading {
color: red;
}

.funParagraph {
    color: green;
}
